.main-app{
    background-color: lightblue;
    padding: 20px;
    
    .section1{
        background-color: cornflowerblue;
    }

    h2{
        color:forestgreen;
        font-size:3em;
    }

    .section2{
        background-color:darkcyan;
    }

    li{
        color: lightseagreen;
    }
}